# Ignore sensitive configuration file
config.py

# Ignore Firebase Admin SDK service account key
kingaboravaccinationsystem-firebase-adminsdk-4vd5w-29da0d42b8.json
kingaboravaccinationsystem-1b5e85910ad8.json

firebaseconfig.js
node_modules
node_modules
node_modules
node_modules
node_modules
